<template name="marketing">
	<div class="page-wrapper">
	  <!--======= Logo, Main Navigation, Search and Side navigation button=======-->
	  <header id="header">
	    <div class="header-inner">
	    </div>
	  </header>
	  <div class="page-title-container">
	    <div class="page-title">
	      <div class="container">
	        <h1 class="title-center entry-title">Train Harder</h1>
	      </div>
	    </div>
	    <ul class="breadcrumbs">
	      <li><a>Save workouts</a></li>
	      <li><a>Share workouts</a></li>
	      <li><a>Explore workouts</a></li>
	    </ul>
	  </div>
	  <div class="second">
	    <div class="container">
	      <div class="heading-box">
	        <h2 class="box-title">Welcome to [ insert name here ]</h2>
	        <p class="desc-lg">professional training tool</p>
	      </div>
	      <div class="row">
	        <div class="col-sm-4 col-md-4">
	          <div class="icon-box style-boxed-3 box">
	            <div class="icon-container"> <i class="fa fa-download"></i> </div>
	            <div class="box-content">
	              <h4 class="box-title"><a href="#">Store your workouts</a></h4>
	              <p>Keep track of all your workouts. Get rid of soggy paper forever.</p>
	            </div>
	          </div>
	        </div>
	        <div class="col-sm-4 col-md-4">
	          <div class="icon-box style-boxed-3 box">
	            <div class="icon-container"> <i class="fa fa-users"></i> </div>
	            <div class="box-content">
	              <h4 class="box-title"><a href="#">Share with the community</a></h4>
	              <p>You are not alone. Everyone in the community will contribute to your improvement.</p>
	            </div>
	          </div>
	        </div>
	        <div class="col-sm-4 col-md-4">
	          <div class="icon-box style-boxed-3 box">
	            <div class="icon-container"> <i class="fa fa-binoculars"></i> </div>
	            <div class="box-content">
	              <h4 class="box-title"><a href="#">Explore</a></h4>
	              <p>See what others are doing to improve.</p>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="parallax parallax-image2" data-stellar-background-ratio="0.5">
	    <div class="parallax-wrapper">
	      <div class="container text-center">
	        <div class="features-icon-slider owl-carousel" data-items="3">
	          <div class="feature-icon"><i class="fa fa-lightbulb-o"></i>
	            <h4 class="box-title"><a href="#">Secure &amp; Reliable</a></h4>
	            <p>Sed ut perspiciatis unde omnis natus error sit voluptate sercer acantium oserv doloremque laudantium.</p>
	          </div>
	          <div class="feature-icon"><i class="fa fa-shopping-cart"></i>
	            <h4 class="box-title"><a href="#">Secure &amp; Reliable</a></h4>
	            <p>Sed ut perspiciatis unde omnis natus error sit voluptate sercer acantium oserv doloremque laudantium.</p>
	          </div>
	          <div class="feature-icon"><i class="fa fa-laptop"></i>
	            <h4 class="box-title"><a href="#">Secure &amp; Reliable</a></h4>
	            <p>Sed ut perspiciatis unde omnis natus error sit voluptate sercer acantium oserv doloremque laudantium.</p>
	          </div>
	          <div class="feature-icon"><i class="fa fa-headphones"></i>
	            <h4 class="box-title"><a href="#">Secure &amp; Reliable</a></h4>
	            <p>Sed ut perspiciatis unde omnis natus error sit voluptate sercer acantium oserv doloremque laudantium.</p>
	          </div>
	          <div class="feature-icon"><i class="fa fa-search"></i>
	            <h4 class="box-title"><a href="#">Secure &amp; Reliable</a></h4>
	            <p>Sed ut perspiciatis unde omnis natus error sit voluptate sercer acantium oserv doloremque laudantium.</p>
	          </div>
	          <div class="feature-icon"><i class="fa fa-tint"></i>
	            <h4 class="box-title"><a href="#">Secure &amp; Reliable</a></h4>
	            <p>Sed ut perspiciatis unde omnis natus error sit voluptate sercer acantium oserv doloremque laudantium.</p>
	          </div>
	          <div class="feature-icon"><i class="fa fa-tablet"></i>
	            <h4 class="box-title"><a href="#">Secure &amp; Reliable</a></h4>
	            <p>Sed ut perspiciatis unde omnis natus error sit voluptate sercer acantium oserv doloremque laudantium.</p>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="second">
	    <div class="container">
	      <!-- Icons -->
	      <div class="row">
	        <div class="col-sm-4 bot-20">
	          <div class="circle-only-border icon-hover-zoom">
	            <div class="style-side-2 animated" data-animation-type="fadeInUp" data-animation-delay="0">
	              <div class="col-left"><i class="icon-3x fa fa-desktop"><i class="circle-border"></i></i></div>
	              <div class="o-hidden">
	                <h4 class="box-title"><a href="#">Quality Control</a></h4>
	                <p>Lorem ipsum dolor sit amet, consec adipiscing elit hendrerit vehicula.</p>
	              </div>
	            </div>
	          </div>
	        </div>
	        <div class="col-sm-4 bot-20">
	          <div class="circle-only-border icon-hover-zoom">
	            <div class="style-side-2 animated" data-animation-type="fadeInUp" data-animation-delay="0.5">
	              <div class="col-left"><i class="icon-3x fa fa-cloud"><i class="circle-border"></i></i></div>
	              <div class="o-hidden">
	                <h4 class="box-title"><a href="#">Secure & Reliable</a></h4>
	                <p>Lorem ipsum dolor sit amet, consec adipiscing elit hendrerit vehicula.</p>
	              </div>
	            </div>
	          </div>
	        </div>
	        <div class="col-sm-4 bot-20">
	          <div class="circle-only-border icon-hover-zoom">
	            <div class="style-side-2 animated" data-animation-type="fadeInUp" data-animation-delay="1">
	              <div class="col-left"><i class="icon-3x fa fa-line-chart"><i class="circle-border"></i></i></div>
	              <div class="o-hidden">
	                <h4 class="box-title"><a href="#">Super Fast</a></h4>
	                <p>Lorem ipsum dolor sit amet, consec adipiscing elit hendrerit vehicula.</p>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	      <div class="row">
	        <div class="col-sm-4">
	          <div class="circle-only-border icon-hover-zoom">
	            <div class="style-side-2 animated" data-animation-type="fadeInUp" data-animation-delay="0">
	              <div class="col-left"><i class="icon-3x fa fa-desktop"><i class="circle-border"></i></i></div>
	              <div class="o-hidden">
	                <h4 class="box-title"><a href="#">Awesome Control Panel</a></h4>
	                <p>Lorem ipsum dolor sit amet, consec adipiscing elit hendrerit vehicula.</p>
	              </div>
	            </div>
	          </div>
	        </div>
	        <div class="col-sm-4">
	          <div class="circle-only-border icon-hover-zoom">
	            <div class="style-side-2 animated" data-animation-type="fadeInUp" data-animation-delay="0.5">
	              <div class="col-left"><i class="icon-3x fa fa-cloud"><i class="circle-border"></i></i></div>
	              <div class="o-hidden">
	                <h4 class="box-title"><a href="#">Secure Your Website</a></h4>
	                <p>Lorem ipsum dolor sit amet, consec adipiscing elit hendrerit vehicula.</p>
	              </div>
	            </div>
	          </div>
	        </div>
	        <div class="col-sm-4">
	          <div class="circle-only-border icon-hover-zoom">
	            <div class="style-side-2 animated" data-animation-type="fadeInUp" data-animation-delay="1">
	              <div class="col-left"><i class="icon-3x fa fa-line-chart"><i class="circle-border"></i></i></div>
	              <div class="o-hidden">
	                <h4 class="box-title"><a href="#">Customer Support</a></h4>
	                <p>Lorem ipsum dolor sit amet, consec adipiscing elit hendrerit vehicula.</p>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="callout-box style1 parallax parallax-image6" data-stellar-background-ratio="0.5">
	    <div class="parallax-wrapper">
	      <div class="callout-color"></div>
	      <div class="container">
	        <div class="row same-height">
	          <div class="col-sm-12 col-md-4 center animated" data-animation-type="fadeInUp">
	            <div class="super-man">
	              <div class="sp-man"></div>
	              <div class="fly-waves"></div>
	            </div>
	          </div>
	          <div class="col-sm-12 col-md-8 callout-content-container animated" data-animation-type="fadeInRight">
	            <div class="callout-content">
	              <div class="callout-text">
	                <h2>Super Fast. Affordable Web Hosting Services. </h2>
	              </div>
	              <div class="callout-action"> <a href="#" class="btn style4">Web Hosting</a> <a href="#" class="btn style4">Domain Name</a> </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="second">
	    <div class="container">
	      <div class="heading-box">
	        <h2 class="box-title">Yes we are Creative Team</h2>
	        <p class="desc-lg">Donec accumsan malesuada orci</p>
	      </div>
	      <!-- Carousel Team -->
	      <div class="row">
	        <div class="owl-carouse2 carousel-team">
	          <div class="item">
	            <div class="img-style-1 team-wrap">
	              <div class="owl-img-wrapper owl-textual-box6 chrome-fix"> <img class="img-responsive" src="img/team/team3-1.jpg" alt="">
	                <div class="owl-textual6">
	                  <div class="owl-textual">
	                    <div class="team-social-top"> <a class="fa fa-twitter delay1" href="#"></a> <a class="fa fa-facebook delay2" href="#"></a> <a class="fa fa-vimeo delay3" href="#"></a> <a class="fa fa-rss delay4" href="#"></a> <a class="fa fa-github delay5" href="#"></a> <a class="fa fa-gplus delay6" href="#"></a> </div>
	                  </div>
	                </div>
	              </div>
	              <section class="team-content">
	                <h4><a href="#">Jimmy Grow</a></h4>
	                <span>UI/UX Designer</span>
	                <p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursu</p>
	              </section>
	            </div>
	          </div>
	          <div class="item">
	            <div class="img-style-1 team-wrap">
	              <div class="owl-img-wrapper owl-textual-box6 chrome-fix"> <img class="img-responsive" src="img/team/team3-2.jpg" alt="">
	                <div class="owl-textual6">
	                  <div class="owl-textual">
	                    <div class="team-social-top"> <a class="fa fa-twitter delay1" href="#"></a> <a class="fa fa-facebook delay2" href="#"></a> <a class="fa fa-vimeo delay3" href="#"></a> <a class="fa fa-rss delay4" href="#"></a> <a class="fa fa-github delay5" href="#"></a> <a class="fa fa-gplus delay6" href="#"></a> </div>
	                  </div>
	                </div>
	              </div>
	              <section class="team-content">
	                <h4><a href="#">Jimmy Grow</a></h4>
	                <span>UI/UX Designer</span>
	                <p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursu</p>
	              </section>
	            </div>
	          </div>
	          <div class="item">
	            <div class="img-style-1 team-wrap">
	              <div class="owl-img-wrapper owl-textual-box6 chrome-fix"> <img class="img-responsive" src="img/team/team3-3.jpg" alt="">
	                <div class="owl-textual6">
	                  <div class="owl-textual">
	                    <div class="team-social-top"> <a class="fa fa-twitter delay1" href="#"></a> <a class="fa fa-facebook delay2" href="#"></a> <a class="fa fa-vimeo delay3" href="#"></a> <a class="fa fa-rss delay4" href="#"></a> <a class="fa fa-github delay5" href="#"></a> <a class="fa fa-gplus delay6" href="#"></a> </div>
	                  </div>
	                </div>
	              </div>
	              <section class="team-content">
	                <h4><a href="#">Jimmy Grow</a></h4>
	                <span>UI/UX Designer</span>
	                <p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursu</p>
	              </section>
	            </div>
	          </div>
	          <div class="item">
	            <div class="img-style-1 team-wrap">
	              <div class="owl-img-wrapper owl-textual-box6 chrome-fix"> <img class="img-responsive" src="img/team/team3-4.jpg" alt="">
	                <div class="owl-textual6">
	                  <div class="owl-textual">
	                    <div class="team-social-top"> <a class="fa fa-twitter delay1" href="#"></a> <a class="fa fa-facebook delay2" href="#"></a> <a class="fa fa-vimeo delay3" href="#"></a> <a class="fa fa-rss delay4" href="#"></a> <a class="fa fa-github delay5" href="#"></a> <a class="fa fa-gplus delay6" href="#"></a> </div>
	                  </div>
	                </div>
	              </div>
	              <section class="team-content">
	                <h4><a href="#">Jimmy Grow</a></h4>
	                <span>UI/UX Designer</span>
	                <p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursu</p>
	              </section>
	            </div>
	          </div>
	          <div class="item">
	            <div class="img-style-1 team-wrap">
	              <div class="owl-img-wrapper owl-textual-box6 chrome-fix"> <img class="img-responsive" src="img/team/team3-5.jpg" alt="">
	                <div class="owl-textual6">
	                  <div class="owl-textual">
	                    <div class="team-social-top"> <a class="fa fa-twitter delay1" href="#"></a> <a class="fa fa-facebook delay2" href="#"></a> <a class="fa fa-vimeo delay3" href="#"></a> <a class="fa fa-rss delay4" href="#"></a> <a class="fa fa-github delay5" href="#"></a> <a class="fa fa-gplus delay6" href="#"></a> </div>
	                  </div>
	                </div>
	              </div>
	              <section class="team-content">
	                <h4><a href="#">Jimmy Grow</a></h4>
	                <span>UI/UX Designer</span>
	                <p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursu</p>
	              </section>
	            </div>
	          </div>
	          <div class="item">
	            <div class="img-style-1 team-wrap">
	              <div class="owl-img-wrapper owl-textual-box6 chrome-fix"> <img class="img-responsive" src="img/team/team3-6.jpg" alt="">
	                <div class="owl-textual6">
	                  <div class="owl-textual">
	                    <div class="team-social-top"> <a class="fa fa-twitter delay1" href="#"></a> <a class="fa fa-facebook delay2" href="#"></a> <a class="fa fa-vimeo delay3" href="#"></a> <a class="fa fa-rss delay4" href="#"></a> <a class="fa fa-github delay5" href="#"></a> <a class="fa fa-gplus delay6" href="#"></a> </div>
	                  </div>
	                </div>
	              </div>
	              <section class="team-content">
	                <h4><a href="#">Jimmy Grow</a></h4>
	                <span>UI/UX Designer</span>
	                <p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursu</p>
	              </section>
	            </div>
	          </div>
	          <div class="item">
	            <div class="img-style-1 team-wrap">
	              <div class="owl-img-wrapper owl-textual-box6 chrome-fix"> <img class="img-responsive" src="img/team/team3-7.jpg" alt="">
	                <div class="owl-textual6">
	                  <div class="owl-textual">
	                    <div class="team-social-top"> <a class="fa fa-twitter delay1" href="#"></a> <a class="fa fa-facebook delay2" href="#"></a> <a class="fa fa-vimeo delay3" href="#"></a> <a class="fa fa-rss delay4" href="#"></a> <a class="fa fa-github delay5" href="#"></a> <a class="fa fa-gplus delay6" href="#"></a> </div>
	                  </div>
	                </div>
	              </div>
	              <section class="team-content">
	                <h4><a href="#">Jimmy Grow</a></h4>
	                <span>UI/UX Designer</span>
	                <p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursu</p>
	              </section>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div id="cd-nav"> <a href="#0" class="cd-nav-trigger">Menu <span></span></a>
	    <div id="cd-pop-form">
	      <div class="cd-wrap-form">
	        <!-- contact form -->
	        <h3>Contact Us</h3>
	        <form class="form1">
	          <div class="success">
	            <div class="success_txt">Contact form submitted!<br />
	              <strong> We will be in touch soon.</strong></div>
	          </div>
	          <fieldset>
	          <label class="name col-md-12">
	          <input type="text" value="Name:">
	          <span class="error">*This is not a valid name.</span> <span class="empty">*This field is required.</span> </label>
	          <label class="email col-md-12">
	          <input type="text" value="E-mail:">
	          <span class="error">*This is not a valid email address.</span> <span class="empty">*This field is required.</span> </label>
	          <label class="message col-md-12">
	          <textarea>Message</textarea>
	          <span class="error">*The message is too short.</span> <span class="empty">*This field is required.</span> </label>
	          <div class="clear"></div>
	          <div class="link-form col-md-12"><a class="flat sm purple" href="#" data-type="submit">Sumit comment</a> <a class="flat sm green" href="#" data-type="reset">Clear</a> </div>
	          </fieldset>
	        </form>
	      </div>
	    </div>
	  </div>
	  <footer id="footer" class="style4">
	    <div class="callout-box style2">
	      <div class="container">
	        <div class="col-sm-7">
	          <div class="social-icons"> <a href="#" class="social-icon"><i class="fa fa-twitter has-circle"></i></a> <a href="#" class="social-icon"><i class="fa fa-facebook has-circle"></i></a> <a href="#" class="social-icon"><i class="fa fa-google-plus has-circle"></i></a> <a href="#" class="social-icon"><i class="fa fa-linkedin has-circle"></i></a> </div>
	        </div>
	        <div class="col-sm-5">
	          <div id="newsletter_signup">
	            <form novalidate="" target="_blank" name="newsletter-subscribe-form" id="newsletter-subscribe-form" method="post" class="form-inline validate">
	              <input type="email" required="" placeholder="Subscribe to our newsletter" class="form-control" name="EMAIL" value="">
	              <input type="submit" id="newsletter-subscribe" name="subscribe" value="SUBSCRIBE">
	            </form>
	          </div>
	        </div>
	      </div>
	    </div>
	    <div class="footer-wrapper">
	      <div class="container">
	        <div class="row add-clearfix same-height">
	          <div class="col-sm-6 col-md-3">
	            <h5 class="section-title box">About hostify</h5>
	            <p>Our core focus is to create results-driven websites for businesses.</p>
	            <p>This means that your website is used for lead generation and also to turn web visitors into buyers.</p>
	            <a href="#" class="btn btn-sm style4">Contact Us</a> <a href="#" class="btn btn-sm style4">Purchase</a> </div>
	          <div class="col-sm-6 col-md-3">
	            <h5 class="section-title box">Control panel</h5>
	            <ul class="list-style-2">
	              <li><a href="#">Get Support</a></li>
	              <li><a href="#">Premium Hosting</a></li>
	              <li><a href="#">Service Status</a></li>
	              <li><a href="#">Service Status</a></li>
	              <li><a href="#">Developer Center</a></li>
	              <li><a href="#">Control panel</a></li>
	            </ul>
	          </div>
	          <div class="col-sm-6 col-md-3">
	            <h5 class="section-title box">Recent Posts</h5>
	            <ul class="recent-posts">
	              <li> <a href="#" class="post-author-avatar"><span><img src="img/44x44-img1.jpg" alt=""></span></a>
	                <div class="post-content"> <a href="#" class="post-title">Aliquam hendrerit augu insuscipit ellentesqu </a>
	                  <p>By <a href="#">Admin</a> .  12 Mar, 2015</p>
	                </div>
	              </li>
	              <li> <a href="#" class="post-author-avatar"><span><img src="img/44x44-img2.jpg" alt=""></span></a>
	                <div class="post-content"> <a href="#" class="post-title">Aliquam hendrerit augu insuscipit ellentesqu </a>
	                  <p>By <a href="#">Admin</a> .  12 Mar, 2015</p>
	                </div>
	              </li>
	              <li> <a href="#" class="post-author-avatar"><span><img src="img/44x44-img3.jpg" alt=""></span></a>
	                <div class="post-content"> <a href="#" class="post-title">Aliquam hendrerit augu insuscipit ellentesqu </a>
	                  <p>By <a href="#">Admin</a> .  12 Mar, 2015</p>
	                </div>
	              </li>
	            </ul>
	          </div>
	          <div class="col-sm-6 col-md-3">
	            <h5 class="section-title box">Popular Tags</h5>
	            <div class="tags"> <a href="#"><span>Business</span></a> <a href="#"><span>Corporate</span></a> <a href="#"><span>Work</span></a> <a href="#"><span>Portfolio</span></a> <a href="#"><span>Clean</span></a> <a href="#"><span>Template</span></a> <a href="#"><span>Wordpress</span></a> <a href="#"><span>Joomla</span></a> <a href="#"><span>Drupal</span></a> <a href="#"><span>Grow</span></a> </div>
	          </div>
	        </div>
	      </div>
	    </div>
	    <div class="footer-bottom-area">
	      <div class="container">
	        <div class="copyright-area">
	          <nav class="secondary-menu">
	            <ul class="nav nav-pills">
	              <li><a href="#">Home</a></li>
	              <li><a href="#">Shared Hosting</a></li>
	              <li><a href="#">Cloud VPS</a></li>
	              <li><a href="#">Dedicated servers</a></li>
	              <li><a href="#">Blog</a></li>
	              <li><a href="#">Contact</a></li>
	            </ul>
	          </nav>
	          <div class="copyright"> &copy; 2015 E-Hosting <em>by</em> <a href="#"> owltemplates.com</a> </div>
	        </div>
	      </div>
	    </div>
	  </footer>
	</div>
</template>